<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="card">
    <div class="card-body">
      <h2 class="text-center">Olvidaste tu contraseña</h2>
      <p class="text-center">Ingresa tu correo, a continuación:</p>
      <form class="mb-3" method="post" action="/api/sessions/forgot-password">
        <div class="input-group">
          <input type="email" class="form-control" placeholder="correo" name="email">
          <button type="submit" class="btn btn-primary">Restablecer contraseña</button>
        </div>
      </form>
      <hr>
      <div class="text-center">
        <a href="/" class="btn btn-primary">Volver al login</a>
      </div>
    </div>
  </div>
</div>


