<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="card">
    <div class="card-body">
      <h1 class="text-center">Login</h1>
      <form id="loginForm">
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input class="form-control" name="email" id="email" />
        </div>
        <div class="mb-3">
          <label class="form-label">Contraseña</label>
          <input class="form-control" name="password" type="password" />
        </div>
        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
      </form>
      <p class="text-center">No estás registrado?
        <a href="/register">Regístrate aquí</a></p>
      <p class="text-center">No estás resgistrado?
        <a href="/api/sessions/github">Regístrate con GitHub</a></p>
      <a href="/forgot-password">
        <button class="btn btn-primary">Restablecer constraseña</button>
      </a>
    </div>
  </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/login.js"></script>