<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="profile-container p-4">
        <h1>Tu perfil</h1>
        <p>Nombre: {{user.nombreCompleto}}</p>        
        <p>Email: {{user.email}}</p>
        <p>Edad: {{user.edad}}</p>
        <a href="/api/sessions/logout" class="btn btn-primary">Salir</a>
      </div>
    </div>
  </div>
</div>