<div class="d-flex justify-content-center align-items-center mt-5">
  <div class="card">
    <div class="card-body">
      <h1 class="text-center">Restablecer contraseña</h1>
      <p class="text-center">Ingresa tu nueva contraseña</p>
      <form class="mb-3" method="post" action="/api/sessions/reset-password?token={{token}}">
        <div class="mb-3">
          <label class="form-label">Correo</label>
          <input type="email" class="form-control" placeholder="correo" name="email">
        </div>
        <div class="mb-3">
          <label class="form-label">Nueva Contraseña</label>
          <input type="password" class="form-control" placeholder="nueva contraseña" name="newPassword">
        </div>
        <button type="submit" class="btn btn-primary">Restablecer contraseña</button>
      </form>
      <hr>
      <div class="text-center">
        <a href="/" class="btn btn-primary">Volver al login</a>
      </div>
    </div>
  </div>
</div>



{{!-- <div class="d-flex justify-content-center align-items-center mt-5">
  <div class="card">
    <div class="card-body">
      <h1 class="text-center">Restablecer Contraseña</h1>
      <form id="restartPasswordForm">
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input class="form-control" name="email">
        </div>
        <div class="mb-3">
          <label class="form-label">Contraseña Nueva</label>
          <input class="form-control" name="password" type="password">
        </div>
        <div class="mb-3">
          <label class="form-label">Token de Restablecimiento</label>
          <input class="form-control" name="token"> <!-- Campo para ingresar el token -->
        </div>
        <button type="submit" class="btn btn-primary">Restablecer Contraseña</button>
      </form>
      <p class="text-center">¿No necesitas restablecer la contraseña? <a href="/login">Volver al login</a></p>
    </div>
  </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="/js/restartPassword.js"></script> --}}





{{!-- <div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 mt-4">
      <form id="restartPasswordForm">
        <div class="mb-3 col-md-8">
            <h2>Restaurar tu contraseña</h2>
          <label class="form-label">Correo electrónico</label>
          <input name="email" class="form-control">
        </div>
        <div class="mb-3 col-md-8">
          <label class="form-label">Nueva contraseña</label>
          <input name="password" type="password" class="form-control">
        </div>
        <div class="mb-3">
  <label class="form-label">Token de restablecimiento de contraseña</label>
  <input class="form-control" name="token">
</div>
        <input type="submit" value="Enviar" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
<script src="/js/restartPassword.js"></script> --}}